{
  "rules": {
    "block-scoped-var": 1,
    "brace-style": [
      2,
      "1tbs"
    ],
    "comma-dangle": [
      2,
      "never"
    ],
    "curly": [
      2,
      "all"
    ],
    "default-case": 1,
    "dot-location": [
      2,
      "property"
    ],
    "indent": [
      2,
      4
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "no-cond-assign": [
      2,
      "except-parens"
    ],
    "no-extra-parens": 1,
    "no-floating-decimal": 1,
    "radix": 1,
    "quotes": [
      2,
      "single"
    ],
    "semi": [
      2,
      "always"
    ],
    "strict": [
      2,
      "function"
    ],
    "valid-jsdoc": 1
  },
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  }
}