/* clearfix */
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}


// Grid mixins
@mixin make-grid-columns($class, $breakpoint, $grid-columns: 12){
	@include breakpoint($breakpoint){
		@for $i from 1 through $grid-columns {
			.#{$class}-#{$i} {
				@include span($i no-gutter);

				.nested-row {
					margin-left: -1 * gutter() * ($grid-columns / $i);
					margin-right: -1 * gutter() * ($grid-columns / $i);
				}
			}
		}
	}
}

@mixin make-grid-gutters($list: (), $classes: ("sm", "md", "lg"), $grid-columns: 12) {
	@each $class in $classes {
		@for $i from 1 through $grid-columns {
			$list: $list, unquote('.#{$class}-#{$i}');
		}
	}

	#{$list} {
		@include gutter();
	}
}