<!-- DEV-NOTE: Unstyled list requires class "unstyled". This removes bullets/icons on each list element. -->
<ul class="unstyled">
	<li>Ein ungestyltes Listenelement</li>
	<li>Ein weiteres ungestyltes Listenelement</li>
	<li><a href="#">Ein Download in der ungestylten Liste</a></li>
	<li><a href="#">Ein weiterer Downloadlink</a></li>
	<li><a href="#">Ein Download mit Zusatzinfo</a> (Broschüre, PDF, 28KB)</li>
	<li><a href="#">Ein Download in der ungestylten Liste</a></li>
	<li>Ein ungestyltes Listenelement</li>
	<li>Ein weiteres ungestyltes Listenelement</li>
</ul>
